.back_to_menu_button {
    background: rgb(0, 52, 183);
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-family: Arial;
    margin-left: 27.5%;
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;
}

.back_to_menu_button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,1);
    color: white;
}

.maket_wrapper {
    color: white;
    background: rgb(0, 126, 167);
    padding: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: start;
    width: 45%;
    border-radius: 20px;
}

.maket_id {
    font-size: 14px;
}

.order_solution_block {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    height: 100px;
}

.maket_status {
    text-align: right;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.download_button {
    text-decoration: none;
    margin: auto 0;
    color: white;
    background: rgb(0, 52, 183);
    border: none;
    border-radius: 40px;
    max-height: 45px;
    min-height: 45px;
    width: 170px;
    padding: 10px 20px;
    margin-top: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.download_button:hover {
    color: white;
    box-shadow: 0 0 5px rgba(0,0,0,1);
}

.order_solution_button {
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    background: rgb(0, 52, 183);
    border: none;
    border-radius: 40px;
    max-height: 45px;
    min-height: 45px;
    width: 170px;
    padding: 10px 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.order_solution_button:hover {
    color: white;
    box-shadow: 0 0 5px rgba(0,0,0,1);
}

@media screen and (max-width: 500px) {
    .maket_wrapper {
        color: white;
        background: rgb(0, 126, 167);
        padding: 20px;
        margin: 20px auto;
        display: flex;
        justify-content: start;
        width: 90%;
        border-radius: 20px;
    }
    .order_solution_button {
        flex-direction: row;
        font-size: 12px;
        width: 120px;
        padding: 15px 10px;
    }
    .maket_status {
        text-align: start;
        display: flex;
        align-items: start;
        justify-content: start;
    }
    .download_button {
        flex-direction: row;
        font-size: 12px;
        width: 120px;
        padding: 15px 10px;
    }
}