.profile_wrapper {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 25px;
}

.user_info_block_wrapper {
    margin-right: 10px;
    width: 34%;
    background: rgb(0, 126, 167);
    padding: 20px;
    border-radius: 40px;
}

.user_info_block {
    display: flex;
    color: white;
}

.user_info {
    padding-right: 10px;
}

.logout_button {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    text-decoration: underline;
}

.logout_button:hover {
    color: white;
}

.user_info_email {
    margin-top: 30px;
    color: white;
    font-size: 18px;
    display: flex;

}

.orders_wrapper {
    margin-left: 10px;
    width: 34%;
    color: white;
    background: rgb(0, 126, 167);
    padding: 20px;
    border-radius: 40px;
}

.orders_list {
    color: white;
    text-decoration: underline;
}

.orders_list:hover {
    color: white;
}

.next_order {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    color: white;
    font-size: 18px;
}

.next_order:hover {
    color: white;
}

.accept_denied {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    margin: 0 auto;
}

.admin_panel_activate {
    margin-right: 10px;
    width: 34%;
    background: rgb(0, 126, 167);
    padding: 20px;
    border-radius: 40px;
}

.admin_panel_deactivate {
    display: none;
}

.maket_panel {
    display: block;
    margin-left: 20px;
    width: 34%;
    background: rgb(0, 126, 167);
    padding: 20px;
    border-radius: 40px;
}

@media screen and (max-width: 500px) {
    .user_info_block_wrapper {
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 160px;
    }
    .profile_wrapper {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 25px;
    }
    .admin_panel_activate {
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 160px;
    }
    .logout_button {
        align-self: start;
        margin-right: auto;
    }
}