.activate {}

.deactivate {
    display: none;
}

.back_to_menu_button {
    background: rgb(0, 52, 183);
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-family: Arial;
    margin-left: 27.5%;
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;
}

.back_to_menu_button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,1);
    color: white;
}

.order_wrapper {
    color: white;
    background: rgb(0, 126, 167);
    padding: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: start;
    width: 45%;
    border-radius: 20px;
}

.order_img {
    width: 100px;
    border-radius: 15px;
}

.order_info {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order_name {
    font-size: 20px;
}

.order_id {
    font-size: 14px;
}

.order_count {
    font-size: 14px;
}

.order_status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    justify-content: center;
}

.back_to_menu_button {
    background: rgb(0, 52, 183);
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-family: Arial;
    margin-left: 27.5%;
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;
}

.back_to_menu_button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,1);
    color: white;
}

.maket_wrapper {
    color: white;
    background: rgb(0, 126, 167);
    padding: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: start;
    width: 45%;
    border-radius: 20px;
}

.maket_id {
    font-size: 14px;
}

.order_solution_block {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    height: 100px;
}

.maket_status {
    font-size: 20px;
    text-align: right;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download_button {
    text-decoration: none;
    margin: auto 0;
    color: white;
    background: rgb(0, 52, 183);
    border: none;
    border-radius: 40px;
    max-height: 45px;
    min-height: 45px;
    width: 170px;
    padding: 10px 20px;
    margin-top: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.download_button:hover {
    color: white;
    box-shadow: 0 0 5px rgba(0,0,0,1);
}

.order_solution_button {
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    background: rgb(0, 52, 183);
    border: none;
    border-radius: 40px;
    max-height: 45px;
    min-height: 45px;
    width: 170px;
    padding: 10px 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.order_solution_button:hover {
    color: white;
    box-shadow: 0 0 5px rgba(0,0,0,1);
}

@media screen and (max-width: 500px) {
    .order_wrapper {
        display: flex;
        flex-direction: row;
        width: 90%;
    }
    .order_img {
        width: 100px;
        height: 100px;
    }
    .order_name {
        font-size: 18px;
    }
    .order_id {
        font-size: 10px;
    }
    .order_count {
        font-size: 10px;
    }
    .order_status {
        margin: 0;
        font-size: 12px;
        flex-direction: column;
        text-align: end;
        align-items: end;
        justify-content: center;
    }
    .maket_wrapper {
        display: flex;
        flex-direction: row;
        width: 90%;
    }
    .maket_status {
        font-size: 16px;
        justify-content: start;
    }

    .back {
        display: flex;
        width: 50%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .back_to_menu_button {
        margin: 0;
    }
}