.get_orders_block {
    margin: 0 auto;
    width: 45%;
}

.product_wrapper {
    color: white;
    background: rgb(0, 126, 167);
    padding: 20px;
    margin: 20px;
    width: 100%;
    display: flex;
    border-radius: 20px;
    align-items: center;
}

.product_img {
    border-radius: 15px;
    max-width: 100px;
}

.product_info {
    padding-left: 5px;
}

.product_name {
    font-size: 24px;
}

.product_id {
    font-size: 12px;
}

.product_count {
    margin-top: 7px;
    font-size: 12px;
}

.product_price {
    margin-left: auto;
}

.all_product_price {
    display: flex;
    justify-content: end;
    font-size: 30px;
}

.empty_cart {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 25px;
}

