.footer {
    color: white;
    display: flex;
    background: rgb(0, 23, 31);
    justify-content: space-between;
}
.logo {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info {

    max-width: 260px;
}
.number {
    font-size: 32px;
}
.emain {
    align-self: end;
}
.footer_item {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 30px;
}
.img {
    width: 50px;
}